1. Conexión a la base de datos

In [60]:
import psycopg2

# Parámetros de conexión
hostname = 'localhost'
database = 'pp1'
username = 'postgres'
pwd = 'Contraseña'
port_id = 5432

# Establecer la conexión
try:
    conn = psycopg2.connect(
        host=hostname,
        dbname=database,
        user=username,
        password=pwd,
        port=port_id
    )
    cur = conn.cursor()
    print("Conexión exitosa")
except Exception as error:
    print("Error de conexión:", error)

Conexión exitosa

2. Crear tablas

In [61]:
try:
    # Crear tabla 'employee'
    create_employee = '''CREATE TABLE IF NOT EXISTS employee(
                          id int PRIMARY KEY,
                          name varchar(40) NOT NULL,
                          salary int,
                          dept_id varchar(30))'''
    cur.execute(create_employee)
    
    # Crear tabla 'alumnos'
    create_alumnos = '''CREATE TABLE IF NOT EXISTS alumnos(
                         id int PRIMARY KEY,
                         name varchar(40) NOT NULL,
                         age int)'''
    cur.execute(create_alumnos)
    
    # Crear tabla 'fabs'
    create_fabs = '''CREATE TABLE IF NOT EXISTS fabs(
                      id int PRIMARY KEY,
                      description varchar(100),
                      dept_id varchar(30))'''
    cur.execute(create_fabs)

    conn.commit()
    print("Tablas creadas con éxito")
except Exception as error:
    print("Error al crear tablas:", error)

Tablas creadas con éxito

3. Consultar datos

In [62]:
try:
    # Consultar todos los datos de la tabla 'usuarios'
    select_query = 'SELECT * FROM pedidos'
    cur.execute(select_query)
    results = cur.fetchall()
    print("Datos en usuarios:")
    for row in results:
        print(row)
except Exception as error:
    print("Error al consultar datos:", error)

Datos en usuarios:
(1, 3, datetime.date(2023, 4, 5), 'pendiente')
(2, 6, datetime.date(2023, 5, 12), 'enviado')
(3, 8, datetime.date(2023, 6, 18), 'entregado')
(4, 11, datetime.date(2023, 7, 22), 'pendiente')
(5, 14, datetime.date(2023, 8, 9), 'enviado')
(6, 3, datetime.date(2023, 9, 5), 'entregado')
(7, 6, datetime.date(2023, 10, 1), 'pendiente')
(8, 8, datetime.date(2023, 4, 17), 'enviado')
(9, 11, datetime.date(2023, 5, 30), 'entregado')
(10, 14, datetime.date(2023, 6, 10), 'pendiente')
(11, 3, datetime.date(2023, 7, 14), 'enviado')
(12, 6, datetime.date(2023, 8, 22), 'entregado')
(13, 8, datetime.date(2023, 9, 1), 'pendiente')
(14, 11, datetime.date(2023, 10, 3), 'enviado')
(15, 14, datetime.date(2023, 4, 25), 'entregado')
(16, 3, datetime.date(2023, 5, 6), 'pendiente')
(17, 6, datetime.date(2023, 6, 21), 'enviado')
(18, 8, datetime.date(2023, 7, 19), 'entregado')
(19, 11, datetime.date(2023, 8, 11), 'pendiente')
(20, 14, datetime.date(2023, 9, 28), 'enviado')

4. Añadir datos

In [63]:
# Agregar datos a la tabla 'employee'
try:
    # Datos a insertar
    insert_query = '''INSERT INTO employee (id, name, salary, dept_id) VALUES (%s, %s, %s, %s)'''
    data_to_insert = [
        (1, 'Alice', 50000, 'HR'),
        (2, 'Bob', 60000, 'IT'),
        (3, 'Charlie', 55000, 'Finance')
    ]
    
    # Insertar múltiples registros
    for record in data_to_insert:
        cur.execute(insert_query, record)
    
    conn.commit()  # Confirmar los cambios
    print("Datos agregados exitosamente a la tabla 'employee'.")

except Exception as error:
    print("Error al insertar datos:", error)

Datos agregados exitosamente a la tabla 'employee'.

5. Modificar una tabla

In [64]:
try:
    # Agregar una nueva columna 'hire_date' a la tabla 'employee'
    alter_query = '''ALTER TABLE employee ADD COLUMN hire_date DATE'''
    cur.execute(alter_query)
    conn.commit()
    print("Tabla modificada con éxito")
except Exception as error:
    print("Error al modificar la tabla:", error)

Tabla modificada con éxito

6. Ver datos específicos

In [65]:
try:
    # Filtrar empleados con salario mayor a 10,000
    select_specific = 'SELECT * FROM employee WHERE salary > %s'
    salary_threshold = (10000,)
    cur.execute(select_specific, salary_threshold)
    specific_results = cur.fetchall()
    print("Datos específicos:")
    for row in specific_results:
        print(row)
except Exception as error:
    print("Error al consultar datos específicos:", error)

Datos específicos:
(1, 'Alice', 50000, 'HR', None)
(2, 'Bob', 60000, 'IT', None)
(3, 'Charlie', 55000, 'Finance', None)

7. Eliminar datos

In [66]:
try:
    # Eliminar un empleado por su ID
    delete_query = 'DELETE FROM employee WHERE id = %s'
    employee_id = (1,)  # Cambiar el ID según sea necesario
    cur.execute(delete_query, employee_id)
    conn.commit()
    print("Datos eliminados con éxito")
except Exception as error:
    print("Error al eliminar datos:", error)

Datos eliminados con éxito

8. Cerrar conexión

In [67]:
# Cierra el cursor y la conexión manualmente
if 'cur' in globals() and cur is not None:
    cur.close()
    print("Cursor cerrado.")

if 'conn' in globals() and conn is not None:
    conn.close()
    print("Conexión cerrada.")

Cursor cerrado.
Conexión cerrada.

Por Said Carbot Cruz Trejo
ESCOM-IPN-MEX
Noviembre 2024